@use "../../node_modules/@fontsource-utils/scss/src/mixins" as fontsource;
@use "../../node_modules/@fontsource/noto-sans/scss/metadata" as noto-sans;
@use "../../node_modules/@fontsource-variable/noto-sans-sc/scss/metadata" as noto-sans-sc;

@include fontsource.faces(
  $metadata: noto-sans.$metadata,
  $directory: "https://cdn.jsdelivr.net/npm/@fontsource/noto-sans@5.3.0/files",
  $weights: (400, 500, 600, 700, 800, 900),
  $subsets: (latin),
  $formats: woff2,
  $display: swap
);

@include fontsource.faces(
  $metadata: noto-sans-sc.$metadata,
  $directory: "https://cdn.jsdelivr.net/npm/@fontsource-variable/noto-sans-sc@5.3.0/files",
  $axes: wght,
  $subsets: (chinese-simplified, latin),
  $formats: woff2,
  $display: swap
);
